/* Coolors Exported Palette - coolors.co/8cc7a1-91dbea-bffff1-97d2fb-fffcfc */

/* HSL */
$color1: hsla(141%, 35%, 66%, 1);
$color2: hsla(190%, 68%, 74%, 1);
$color3: hsla(167%, 100%, 87%, 1);
$color4: hsla(205%, 93%, 79%, 1);
$color5: hsla(0%, 100%, 99%, 1);

/* RGB */
$color1: rgba(140, 199, 161, 1);
$color2: rgba(145, 219, 234, 1);
$color3: rgba(191, 255, 241, 1);
$color4: rgba(151, 210, 251, 1); //note: 0.6 opacity looks good
$color5: rgba(255, 252, 252, 1); 

$color1: #8CC7A1; //Eton Blue
$color2: #91DBEA; //Light Cornflower Blue
$color3: #BFFFF1; //Aero Blue
$color4: #97D2FB; //Pale Cyan
$color5: #FFFCFC; //Snow