div.skill-card-radial-container{
    height: 100%;
} 

img.skill-card:nth-child(1){ --angle: -0deg; }
img.skill-card:nth-child(2){ --angle: -15deg; }
img.skill-card:nth-child(3){ --angle: -30deg; }
img.skill-card:nth-child(4){ --angle: -45deg; }
img.skill-card:nth-child(5){ --angle: -60deg; }
img.skill-card:nth-child(6){ --angle: -75deg; }
img.skill-card:nth-child(7){ --angle: -90deg; }
img.skill-card:nth-child(8){ --angle: -105deg; }
img.skill-card:nth-child(9){ --angle: -120deg; }
img.skill-card:nth-child(10){ --angle: -135deg; }
img.skill-card:nth-child(11){ --angle: -150deg; }
img.skill-card:nth-child(12){ --angle: -165deg; }
img.skill-card:nth-child(13){ --angle: -180deg; }


img.skill-card {
    padding: 10px;
    position: absolute;
    transform:  rotate(var(--angle)) translate(10em) rotate(calc(-1 * var(--angle)));
}