header.nav-container {
	background-color: #252834;
	position: sticky;
	top: 0;
	width: 100%;
}

header.nav-container > nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

header.nav-container > nav > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	margin: 0px;
	list-style-type: none;
	text-align: center;
}

header.nav-container > nav > ul > li {
	border-bottom: none;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 30%;
}

a.logo-link {
	display: inline-block;
	padding: 5px 5px 0px 5px;
	width: 70px;
}

img.logo {
	margin: 0px;
}

a.page-link {
	color: #ffffff;
	text-decoration: none;
	display: block;
	font-size: 22px;
	padding: 1rem;
	font-family: 'Roboto';
}

a.page-link:hover {
	background-color: rgba(64, 70, 92, 0.12);
	transition: cubic-bezier(0.45, 0.05, 0.55, 0.95) 50ms;
}

span.burger-menu {
	width: 2rem;
	height: 0.25rem;
	background: #ffffff;
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

button.burger-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-right: 10px;
	z-index: 10;
}
