h1{
    font-family: 'Roboto';
    color: #FFFFFF;
    letter-spacing: 2px;
}

h3{
    font-family: 'Roboto';
    font-variant: small-caps;
    color: #FFFFFF;
    letter-spacing: 2px;
}

main {
    height: 100%;
	background-color: #252834;
    text-align: center;
}

.headline-grid-container {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content auto;
	gap: 0px 0px;
}

