h1.index-header {
    font-size: 6ch;
	font-family: 'Roboto';
	color: #ffffff;
	letter-spacing: 2px;
}

h3.index-header {
    font-size: 3ch;
	font-family: 'Roboto';
	font-variant: small-caps;
	color: #ffffff;
	letter-spacing: 2px;
	margin: 5px;
}

main {
	height: 100%;
	background-color: #252834;
	text-align: center;
}

.headline-grid-container {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content auto;
	gap: 0px 0px;
}

.headline-text-container {
	padding-top: 2em;
}
