div.card-container {
	border-radius: 9px;
	margin: 8px;
	background-color: #536095;
	width: clamp(350px, 30vw, 450px);
	overflow: hidden;
}

div.card-image {
	height: clamp(350px, 30vw, 450px);
	margin-bottom: 0px;
}

div.card-title-with-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 1em;
}

div.card-text {
	margin: 10px;
	text-align: left;
	color: #ffffff;
	height: auto;
}

h1.card-title {
	font-size: clamp(10pt, 1em, 28pt);
	font-family: 'Nunito Sans';
	margin-bottom: 0px;
	letter-spacing: 1px;
}

h1.card-tags {
	font-size: clamp(10pt, .9em, 28pt);
	color: #e5e5e5;
	font-style: italic;
	font-family: 'Nunito Sans';
	font-weight: 100;
}

div.card-description-container {
	height: fill-available;
	height: 6em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

p.card-description {
	font-size: clamp(8pt, 1em, 25pt);
	font-family: 'Nunito Sans';
	margin: 0px;
	line-height: 1.2;
}

p.demo-github-links {
	color: #ffffff;
	font-family: 'Nunito Sans';
	display: inline;
}

a.git-demo-link {
	margin: 0px 1ch;
	color: #ffffff;
	text-decoration: none;
	font-style: italic;
	font-family: 'Nunito Sans';
}
a.git-demo-link:hover {
	text-decoration: underline;
	color: #5da9ff;
}
